# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Terraform plans
*.tfplan

# Generated packages
*.zip

# Crash logs
crash.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini